{% extends 'esg/base.html' %}

{% block title %}
Sobre o Projeto
{% endblock %}

{% block content %}
    <h1>Sobre o Projeto</h1>

    <p>
        O projeto consiste no desenvolvimento de uma aplicação web 
        focada para reforçar e ensinar a importancia 
        da técnica de ESG em pequenas e medias empresas.
    </p>

    <p>
        A solução busca apresentar informações sobre os pilares
        Ambiental, Social e de Governança, além de possibilitar
        a realização de um diagnóstico relacionado a esses aspectos.
    </p>

    <p>
        A aplicação está sendo desenvolvida utilizando Django,
        permitindo o armazenamento e gerenciamento das informações
        por meio de um banco de dados.
    </p>

    <h2>Objetivo</h2>

    <p>
        O objetivo é oferecer uma ferramenta acessível que auxilie
        empresas a identificar aspectos relacionados às suas práticas
        de ESG e compreender possíveis pontos de melhoria.
    </p>
{% endblock %}