{% extends 'esg/base.html' %}

{% block title %}
Quem Somos
{% endblock %}

{% block content %}
    <h1>Quem é a ESGfy?</h1>

    <p>
        Somos uma equipe de estudantes responsável pelo desenvolvimento
        desta aplicação web voltada para a conscientização sobre ESG.
    </p>
    <p>
        O grupo é composto por: <br><br>

        João Gabriel -  jgfa@cesar.school <br>
        João Rafael -   jrsga@cesar.school <br>
        Joel Oliveira - jco@cesar.school <br>
        Lucas Cabral -  lcl4@cesar.school <br>
        Marco Antonio - mavss@cesar.school <br>
        Rafael Costa -  rcs9@cesar.school 
    </p>

    <p>
        Nosso objetivo é desenvolver uma solução simples e acessível,
        auxiliando pequenas e médias empresas a compreenderem melhor
        os princípios de ESG.
    </p>
{% endblock %}